@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #121212;
}

.container {
    color: whitesmoke;
    font-family: 'Luckiest guy';
    font-size: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 40vh;
}

.buttons {
    color: whitesmoke;
    text-align: center;
    padding: 20px;
    margin-top: 30px;
    font-family: 'Luckiest guy';
}

#start {
    background-color: whitesmoke;
    color: #121212;
    padding: 12px;
    margin: 4px;
    border-radius: 12px;
    cursor: pointer;
}

#stop {
    background-color: whitesmoke;
    color: #121212;
    padding: 12px;
    margin: 4px;
    border-radius: 12px;
    cursor: pointer;
}